@use '../../styles/partials' as *;

.content {
  padding: 2rem 0;

  &__container {
    @extend .container;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__list {
    list-style: none;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  &__link {
    color: black;
    padding: 2rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    height: 20rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    @include tablet {
      height: 15rem;
    }
  }

  &__image {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }

}
