@use '../../styles/partials' as *;

.hero {
  min-height: 30rem;
  max-height: 30rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/images/test.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  &__title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  // @include tablet {
  //   min-height: 70vh;
  // }
}
