@use "../../styles/partials" as *;

.review {

  .review__textbox {
    padding: 1rem 2rem 1rem 2rem;
  }
  .form {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    width: 70vw;

    .form__info {
      display: flex;
      flex-direction: column;

      .form__label {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0rem;
        .form__input {
          padding: 0.5rem;
          margin-top: 0.5rem;
        }
        .form__comment {
          resize: none;
          padding: 0.5rem;
          margin-top: 0.5rem;
        }
        .form__comment::placeholder {
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }

    .form__submit {
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #45a29e;
      color: white;
      border: none;
      cursor: pointer;
      height: 50px;
      width: 100px;
      font-size: 16px;
      margin-top: 0.5rem;
    }
  }
}

.review__title {
  color: #0B0C10;
}


