@use '../../styles/partials' as *;

.review {
  padding: 3rem 0;

  .review__textbox {
    padding: 1rem 0 1rem 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.review__title {
  color: #0b0c10;
}

.review__comments {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.review__container {
  @extend .container;
}

.review__box {
  background-color: black;
  padding: 1.5rem 1.5rem;
  display: flex;
  color: #ffe81f;
  flex-direction: column;
}
.review__author {
  align-self: flex-end;
  font-weight: 600;
}
.review__comment {
  font-size: 1.2rem;
}
