@use '../../styles/partials' as *;

.review {
  padding: 3rem 0;

  .review__textbox {
    padding: 1rem 0 1rem 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .form {
    display: flex;
    flex-direction: column;

    .form__info {
      display: flex;
      flex-direction: column;

      .form__label {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0rem;
        .form__input {
          padding: 0.5rem;
          margin-top: 0.5rem;
        }
        .form__comment {
          resize: none;
          padding: 0.5rem;
          margin-top: 0.5rem;
        }
        .form__comment::placeholder {
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }

    .form__submit {
      text-decoration: none;
      // align-self: flex-end;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #45a29e;
      color: white;
      border: none;
      cursor: pointer;
      height: 50px;
      width: 100px;
      font-size: 16px;
      margin-top: 0.5rem;
    }
  }
}

.review__title {
  color: #0b0c10;
}

.review__comments {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.review__container {
  @extend .container;
}

.review__box {
  background-color: black;
  padding: 1.5rem 1.5rem;
  display: flex;
  color: #ffe81f;
  flex-direction: column;
}
.review__author {
  align-self: flex-end;
  font-weight: 600;
}
.review__comment {
  font-size: 1.2rem;
}
